In [6]:
import pickle
import pandas as pd

from model import ModelPipeline


# Pickle file ko load karna
with open('model1.pk1', 'rb') as f:
    loaded_model = pickle.load(f)

# Load karne ke baad model ka upyog karein
predicted_values = loaded_model.predict(df1)

In [7]:
predicted_values

array([1, 0], dtype=int64)

In [ ]:
import pandas as pd

In [3]:
df=pd.read_csv("merge_yahooquery_wallstreet (1)",parse_dates=['created_date'])

In [4]:
df1=df.iloc[[6577,9]]
df1.sample(2)

,Unnamed: 0.1,Unnamed: 0,Ticker,open,low,close,volume,high,adjclose,dividends,created_date,splits,Price,Price_Target,Consensus
9,9,156,AAPL,138.5,134.589996,134.869995,74917800,138.550003,134.664383,0.0,2022-11-09,NaN,139.50,182.59,0.0
6577,6577,23107,CAT,227.0,225.779999,228.979996,3044000,229.839996,227.893158,0.0,2022-12-07,NaN,228.29,222.42,1.0

In [5]:
df1 = df1.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'splits', 'dividends','Consensus'], axis=1)

In [ ]:
import pandas as pd
df=pd.read_csv('model.csv')

In [ ]:
df.sample(2)

In [ ]:
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'splits', 'dividends'], axis=1)

In [ ]:
# df.to_csv('merge1.csv')

In [ ]:
unique_tickers = df['Ticker'].unique()

In [ ]:
result_df = pd.DataFrame({'Ticker': unique_tickers})

In [ ]:
unique_tickers = df['Ticker'].unique()

result_df = pd.DataFrame({'Ticker': unique_tickers})

for ticker in unique_tickers:
    value = df.loc[df['Ticker'] == ticker, 'open'].iloc[0]
    result_df.loc[result_df['Ticker'] == ticker, 'open'] = value

In [ ]:
result_df